
a, a:link, a:visited, a:hover{
	color:#ffffff;
	text-decoration: none;
}

#menu{
	height:50px;
	background-color: #450024;
	color: #ffffff;
}

#menu ul{
	list-style-type: none;
	font-size: 20px;
	margin: 0;
	margin-left:25%;
}

#menu li{
	display: inline;
	padding-top: 10px;
	color: #ffffff;
	font-size: 20px;
	float: left;
	margin-right: 5%;
}

body{
	margin: 0 auto;
}

.slide{
	height: 400px;
	width: 500px;
	padding: 0;
	margin: 100px auto 30px;
}

.slide img{
	padding: 12px;
	border: 1px solid #a9a9a9;
	background-color: #a9a9a9;
	width: 400px;
	height: 350px;
}

.info{
	clear: both;
	margin: 0px auto 50px;
	display: block; 
	width:100%;
	overflow: hidden;
	flex: auto;
}

.info .infoarea{
	float: left;
	padding: 15px;
	width: 22%;
	height: 400px;
	margin-bottom: 30px;
}

.info .infoarea img{
	width: 100%;
}

.foodarea{
	float: left;
	padding: 15px;
	width: 30%;
	height: 300px;
	margin-bottom: 20px;
}

.foodarea img{
	width: 100%;
}

.foodarea span{
	color: black;
	overflow: hidden;
}

.foodarea p{
	color: gray;
	padding-left: 30%;
}

li{
	list-style-type: none;
}

.pagination{
	clear: both;
	text-align: center;
	padding-top: 150px;
}

#footer{
	box-sizing: border-box;
	bottom: 0;
	width: 100%;
	background-color: #123456;
	color: white;
	padding-top: 10px;
	margin-top: 20px;
	text-align: center;
}
