<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		{% block banner %}
		{% endblock %}
	</title>
	{% block extra_css %}
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
	
</head>
<body>
	
	<div id="menu">
		<a href="/"><img src="/static/images/logo.png" style="float:left; margin-left=2%"/></a>
		<ul>
			<li><a href="/shop/">比價商店</a></li>
			<li><a href="/stock/">股票</a></li>
			<li><a href="/book/">書籍</a></li>
			<li><a href="/food/">美食情報</a></li>
			<li><a href="/message/">留言</a></li>
		</ul>
	
	</div>
	
	{% block content %}
	{% endblock %}
	
	{% include 'footer.html' %}
	

</body>
</html>
