<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		{% block banner %}
		{% endblock %}
	</title>
	
	<link rel="stylesheet" href="/static/css/index.css"/>
	<script type="text/javascrpt">
		function getData(){
			var connect = new XMLHttpRequest();
			connect.open("get", "localhost/stock/stockdetail.html");
			connect.onload = function(){
				var content = document.getElementById("stockdetail");
				content.innerHTML = this.responseText;
			}
			connect.send();
		}
	</script>
	
</head>
<body>
	
	<div id="menu">
		<a href="/index/"><img src="/static/images/logo.png" style="float:left; margin-left=2%"/></a>
		<ul>
			<li><a href="/shop/">比價商店</a></li>
			<li><a href="/stock/">股票</a></li>
			<li><a href="/message/">留言</a></li>
		</ul>
	
	</div>
	
	{% block content %}
	{% endblock %}
	
	{% include 'footer.html' %}
	

</body>
</html>
